// Small tablets and large smartphones
$screen-min-576: 576px;
$screen-min-768: 768px;
$screen-min-992: 992px;
$screen-min-1200: 1200px;
$screen-min-1400: 1400px;
$screen-min-1600: 1600px;

// max
$screen-max-1599: 1599px;
$screen-max-1339: 1339px;
$screen-max-1199: 1199px;
$screen-max-991: 991px;
$screen-max-767: 767px;
$screen-max-575: 575px;

//extra Small
@mixin min-576 {
  @media (min-width: #{$screen-min-576}) {
    @content;
  }
}

@mixin min-768 {
  @media (min-width: #{$screen-min-768}) {
    @content;
  }
}

@mixin min-992 {
  @media (min-width: #{$screen-min-992}) {
    @content;
  }
}

@mixin min-1200 {
  @media (min-width: #{$screen-min-1200}) {
    @content;
  }
}

@mixin min-1400 {
  @media (min-width: #{$screen-min-1400}) {
    @content;
  }
}

@mixin min-1600 {
  @media (min-width: #{$screen-min-1600}) {
    @content;
  }
}

// between
@mixin min-768-991 {
  @media (min-width: #{$screen-min-768}) and (max-width: #{$screen-max-991}) {
    @content;
  }
}
@mixin min-992-1199 {
  @media (min-width: #{$screen-min-992}) and (max-width: #{$screen-max-1199}) {
    @content;
  }
}


// max
@mixin max-1599 {
  @media (max-width: #{$screen-max-1599}) {
    @content;
  }
}

@mixin max-1339 {
  @media (max-width: #{$screen-max-1339}) {
    @content;
  }
}

@mixin max-1199 {
  @media (max-width: #{$screen-max-1199}) {
    @content;
  }
}

@mixin max-991 {
  @media (max-width: #{$screen-max-991}) {
    @content;
  }
}

@mixin max-767 {
  @media (max-width: #{$screen-max-767}) {
    @content;
  }
}

@mixin max-575 {
  @media (max-width: #{$screen-max-575}) {
    @content;
  }
}



/*
@include min-576 {}
*/
