$white : #ffffff;
$black : #000000;

$blue : #040146;
$blueLight : #B4DFDE;
$blueLightText : #7D89A6;

$gray : #515151;
$gray2 : #FBFBFB;

$primaryColor : #0073B9;
$secondaryColor : #FAB417;

// font-size
$fontSize: 16px;
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Bebas Neue', cursive;;


